ctrl_samples/driver.npz
ctrl_samples/lunarlandercontinuous-v2.npz
ctrl_samples/mountaincarcontinuous-v0.npz
ctrl_samples/swimmer.npz
ctrl_samples/tosser.npz

.mypy_cache/**
.vscode/**
**/__pycache__/**

*.npy*
*.npz*

scratch.py

*.pkl

*.png

log*.txt
*.log

*.xml
*.stl

data/

.hypothesis
.tmuxinator.yml